# Artificial Neural Network

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.6.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
dataset = pd.read_excel('Folds5x2_pp.xlsx')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [ ]:
dataset

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

### Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Part 2 - Building the ANN

### Initializing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1))

## Part 3 - Training the ANN

### Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'mean_squared_error')

### Training the ANN model on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
240/240 [==============================] - 1s 1ms/step - loss: 63258.3750
Epoch 2/100
240/240 [==============================] - 0s 1ms/step - loss: 217.7166
Epoch 3/100
240/240 [==============================] - 0s 1ms/step - loss: 206.9158
Epoch 4/100
240/240 [==============================] - 0s 1ms/step - loss: 204.2497
Epoch 5/100
240/240 [==============================] - 0s 1ms/step - loss: 201.1047
Epoch 6/100
240/240 [==============================] - 0s 1ms/step - loss: 197.4050
Epoch 7/100
240/240 [==============================] - 0s 1ms/step - loss: 193.3104
Epoch 8/100
240/240 [==============================] - 0s 1ms/step - loss: 188.4124
Epoch 9/100
240/240 [==============================] - 0s 1ms/step - loss: 183.5262
Epoch 10/100
240/240 [==============================] - 0s 1ms/step - loss: 177.7565
Epoch 11/100
240/240 [==============================] - 0s 1ms/step - loss: 171.7553
Epoch 12/100
240/240 [==============================] - 0s 1ms/step - loss: 165.3751
Epoch 13/100
240/240 [==============================] - 0s 1ms/step - loss: 158.2423
Epoch 14/100
240/240 [==============================] - 0s 1ms/step - loss: 150.8573
Epoch 15/100
240/240 [==============================] - 0s 1ms/step - loss: 143.2171
Epoch 16/100
240/240 [==============================] - 0s 1ms/step - loss: 135.3578
Epoch 17/100
240/240 [==============================] - 0s 1ms/step - loss: 127.5167
Epoch 18/100
240/240 [==============================] - 0s 1ms/step - loss: 118.8429
Epoch 19/100
240/240 [==============================] - 0s 1ms/step - loss: 110.7412
Epoch 20/100
240/240 [==============================] - 0s 1ms/step - loss: 102.4991
Epoch 21/100
240/240 [==============================] - 0s 1ms/step - loss: 94.3482
Epoch 22/100
240/240 [==============================] - 0s 1ms/step - loss: 86.2922
Epoch 23/100
240/240 [==============================] - 0s 1ms/step - loss: 78.5221
Epoch 24/100
240/240 [==============================] - 0s 1ms/step - loss: 71.6974
Epoch 25/100
240/240 [==============================] - 0s 1ms/step - loss: 65.0563
Epoch 26/100
240/240 [==============================] - 0s 1ms/step - loss: 58.5891
Epoch 27/100
240/240 [==============================] - 0s 1ms/step - loss: 53.1731
Epoch 28/100
240/240 [==============================] - 0s 1ms/step - loss: 48.7896
Epoch 29/100
240/240 [==============================] - 0s 1ms/step - loss: 43.8716
Epoch 30/100
240/240 [==============================] - 0s 1ms/step - loss: 40.5369
Epoch 31/100
240/240 [==============================] - 0s 1ms/step - loss: 37.5088
Epoch 32/100
240/240 [==============================] - 0s 1ms/step - loss: 35.6136
Epoch 33/100
240/240 [==============================] - 0s 1ms/step - loss: 33.2333
Epoch 34/100
240/240 [==============================] - 0s 1ms/step - loss: 32.0942
Epoch 35/100
240/240 [==============================] - 0s 1ms/step - loss: 31.4831
Epoch 36/100
240/240 [==============================] - 0s 1ms/step - loss: 30.6935
Epoch 37/100
240/240 [==============================] - 0s 1ms/step - loss: 30.4036
Epoch 38/100
240/240 [==============================] - 0s 1ms/step - loss: 29.4324
Epoch 39/100
240/240 [==============================] - 0s 1ms/step - loss: 29.5808
Epoch 40/100
240/240 [==============================] - 0s 1ms/step - loss: 29.0624
Epoch 41/100
240/240 [==============================] - 0s 1ms/step - loss: 28.7512
Epoch 42/100
240/240 [==============================] - 0s 1ms/step - loss: 28.4262
Epoch 43/100
240/240 [==============================] - 0s 1ms/step - loss: 28.3053
Epoch 44/100
240/240 [==============================] - 0s 1ms/step - loss: 28.1282
Epoch 45/100
240/240 [==============================] - 0s 1ms/step - loss: 28.2438
Epoch 46/100
240/240 [==============================] - 0s 1ms/step - loss: 27.6826
Epoch 47/100
240/240 [==============================] - 0s 1ms/step - loss: 27.6675
Epoch 48/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4864
Epoch 49/100
240/240 [==============================] - 0s 1ms/step - loss: 27.5976
Epoch 50/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4650
Epoch 51/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8281
Epoch 52/100
240/240 [==============================] - 0s 1ms/step - loss: 28.0617
Epoch 53/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0943
Epoch 54/100
240/240 [==============================] - 0s 1ms/step - loss: 27.2388
Epoch 55/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1538
Epoch 56/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8031
Epoch 57/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7440
Epoch 58/100
240/240 [==============================] - 0s 1ms/step - loss: 26.8211
Epoch 59/100
240/240 [==============================] - 0s 1ms/step - loss: 27.3596
Epoch 60/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8535
Epoch 61/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5266
Epoch 62/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7414
Epoch 63/100
240/240 [==============================] - 0s 1ms/step - loss: 27.3256
Epoch 64/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6142
Epoch 65/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7808
Epoch 66/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6768
Epoch 67/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1054
Epoch 68/100
240/240 [==============================] - 0s 1ms/step - loss: 26.8489
Epoch 69/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7389
Epoch 70/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6367
Epoch 71/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7291
Epoch 72/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6321
Epoch 73/100
240/240 [==============================] - 0s 1ms/step - loss: 26.4731
Epoch 74/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7961
Epoch 75/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0561
Epoch 76/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1579
Epoch 77/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5185
Epoch 78/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0894
Epoch 79/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7319
Epoch 80/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6198
Epoch 81/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6746
Epoch 82/100
240/240 [==============================] - 0s 1ms/step - loss: 26.9067
Epoch 83/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1820
Epoch 84/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0426
Epoch 85/100
240/240 [==============================] - 0s 1ms/step - loss: 26.9086
Epoch 86/100
240/240 [==============================] - 0s 1ms/step - loss: 26.4251
Epoch 87/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6338
Epoch 88/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1480
Epoch 89/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0375
Epoch 90/100
240/240 [==============================] - 0s 1ms/step - loss: 26.4532
Epoch 91/100
240/240 [==============================] - 0s 1ms/step - loss: 26.8439
Epoch 92/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7945
Epoch 93/100
240/240 [==============================] - 0s 1ms/step - loss: 27.2410
Epoch 94/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6734
Epoch 95/100
240/240 [==============================] - 0s 1ms/step - loss: 27.2341
Epoch 96/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6264
Epoch 97/100
240/240 [==============================] - 0s 1ms/step - loss: 26.4416
Epoch 98/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0132
Epoch 99/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8631
Epoch 100/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6682

### Predicting the results of the Test set

In [ ]:
y_pred = ann.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[430.19 431.23]
 [461.2  460.01]
 [464.71 461.14]
 ...
 [471.92 473.26]
 [438.77 438.  ]
 [457.95 463.28]]

In [ ]:
test = np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

In [ ]:
pd.DataFrame(test, columns=['predicted', 'Actual'])

       predicted  Actual
0     430.185120  431.23
1     461.204712  460.01
2     464.705780  461.14
3     447.839569  445.90
4     459.025146  451.29
...          ...     ...
1909  458.867340  460.29
1910  456.311981  452.42
1911  471.922058  473.26
1912  438.773651  438.00
1913  457.954346  463.28

[1914 rows x 2 columns]