In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("Bool1.csv")
x = df.iloc[:, -1].values
y = df.iloc[:, :-1].values

In [26]:
x = x.reshape(-1, 1)

In [5]:
df.describe()

                X           Y
count   63.000000   63.000000
mean    22.904762   98.187302
std     23.351946   87.327553
min      0.000000    0.000000
25%      7.500000   38.850000
50%     14.000000   73.400000
75%     29.000000  140.000000
max    124.000000  422.200000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       63 non-null     int64
 1   Y       63 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [28]:
from sklearn.linear_model import LinearRegression
regressor= LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [30]:
y_pred = regressor.predict(x_test)

In [31]:
np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test),1)), 1)

array([[37.69357099, 37.        ],
       [ 8.64615701,  3.        ],
       [46.62134128, 26.        ],
       [22.30796111, 13.        ],
       [ 2.13686052,  6.        ],
       [39.93194568, 22.        ],
       [ 8.18304501,  4.        ],
       [ 3.86066631, 11.        ],
       [62.21277872, 48.        ],
       [ 2.41987341, 13.        ],
       [ 1.41646407,  4.        ],
       [22.95117222, 14.        ],
       [29.10027049, 40.        ]])